$main-bg-color : hsl(30, 38%, 92%);
$dark-blue : hsl(212, 21%, 14%);
$grayish-blue : hsl(228, 12%, 48%);
$dark-cyan: hsl(158, 36%, 37%);
$container-bg-color :  hsl(0, 0%, 100%);
$font-weight: (
    "bold" : 500,
    "bolder" : 700,
);
